.banniereGarantiesLivraisons {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 80px;

	> div {
		display: flex;
	}

	img {
		height: 43px;
	}
}

.banniereGarantiesLivraisons--texte_droite {
	max-width: 135px;
	padding-left: 10px;
}

.banniereGarantiesLivraisons--garantie {
	font-weight: bold;
	font-size: 12px;
}

.banniereGarantiesLivraisons--sousTitre {
	font-size: 12px;
}
