#navbar {
	z-index: 10;
}

.menuSticky {
	background-color: black;
	color: white;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	z-index: 10;
}

.menuSticky--searchBar {
	width: 580px;

	form {
		width: 100%;

		.input-field input[type="search"] {
			background-color: white;
			border-radius: 3px;
			// height: 45px;
		}

		.bouton-rechercher {
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 17%;

			.btn {
				background-color: var(--color-primary);
				height: 30px;
				box-shadow: none;
				border-radius: 4px;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 10px 0 5px;

				&:hover {
					// @extend .blue, .lighten-4;
					background-color: #0077ef;
				}

				.material-icons {
					padding-right: 5px;
					font-size: 21px;
				}
			}
		}
	}
}

.menuSticky--newDestockRecon {
	width: 300px;
	display: flex;
	justify-content: space-between;

	span {
		cursor: pointer;
		font-weight: bold;
		font-size: 13px;
		position: relative;
	}
}

.menuSticky--nouveau::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #e74c3c;
}

.menuSticky--destockage::after {
	@extend .menuSticky--nouveau::after;
	background-color: #0066cc;
}

.menuSticky--reconditionne::after {
	@extend .menuSticky--nouveau::after;
	background-color: #00d057;
}

.menuSticky--comptePanier {
	font-size: 10px;
	width: 200px;
	display: flex;
	justify-content: space-between;

	div {
		// background-color: aqua;
		padding: 10px 5px;
		border-radius: 3px;
		width: 33%;
		text-align: center;

		&:hover {
			background-color: white;
			color: black;
			transition: 0.3s;
			cursor: pointer;
		}
	}

	a {
		color: white;

		&:hover {
			color: black;
		}
	}
}

.menuSticky--comptePanier .material-icons {
	display: block;
	font-size: 25px;
	margin-bottom: 7px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.rajoutMargin {
	padding-top: 90px;
}

.rajoutMarginBanniere {
	padding-top: 340px;
}

// ************************  RESPONSIVE  *****************************

@media screen and (max-width: 768px) {
	.menuSticky {
		height: 60px;
		padding: 0 0 0 15px;
	}

	.logo-woodbrass {
		height: 30px;
	}

	.menuSticky--searchBar {
		width: 380px;

		form {
			width: 90%;
			margin: 0 auto;

			.input-field input[type="search"] {
				height: 35px;
				font-size: 13px;
			}
		}
	}

	.menuSticky--newDestockRecon {
		width: 320px;

		span {
			font-size: 10px;
		}
	}

	.menuSticky--comptePanier {
		font-size: 8px;
		width: 250px;

		.material-icons {
			font-size: 20px;
		}

		div {
			padding: 15px 5px;
		}
	}
}

@media screen and (max-width: 480px) {
	.menuSticky {
		height: auto;
		flex-wrap: wrap;
		padding-bottom: 20px;

		.logo-woodbrass {
			height: 45px;
		}

		.material-icons {
			padding-right: 5px;
			font-size: 30px;
		}
	}

	.menuSticky--searchBar {
		width: 100vw;
		order: 3;
	}

	.btn-mobile-menu {
		order: 0;
		display: inline-block;
		background-color: #202020;
		width: 100px;
		height: 50px;
		font-weight: bold;
		font-size: 16px;
	}

	.menuSticky--logo-woodbrass {
		order: 1;
	}
	.menuSticky--comptePanier {
		order: 2;
		justify-content: space-around;
		width: auto;
		margin-right: 20px;
	}
	.menuSticky--newDestockRecon {
		order: 4;
	}

	.menuSticky--searchBar {
		form {
			width: 95%;

			.input-field input[type="search"] {
				height: 45px;
			}
		}
	}

	.menuSticky--newDestockRecon {
		width: 100%;
		justify-content: space-around;

		span {
			font-size: 16px;
		}
	}
}
