.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	height: 40px;
	background-color: #0066cc;
	color: white;
}

.top--left {
	display: flex;
	justify-content: space-around;
	width: 300px;

	span {
		cursor: pointer;
	}
}

.top--center {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;

	img {
		margin-right: 5px;
		width: 10%;
		padding-top: 2px;
	}

	.material-icons {
		cursor: pointer;
	}

	.message-center {
		transition: margin-right 4s;
	}
}

.top--right {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 300px;
	height: 100%;

	img {
		padding-right: 8px;
	}

	.languages {
		cursor: pointer;
	}
}

.top--right--conseils {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 0 15px;
	height: 100%;
	display: flex;
	align-items: center;

	.number {
		padding-left: 5px;
	}
}

@media screen and (max-width: 768px) {
	.top {
		font-size: 11px;
		height: 33px;
	}

	.top--left,
	.top--right--conseils {
		visibility: hidden;
	}

	.valign-wrapper.languages {
		margin-right: 10px;
		img {
			height: 1.7em;
		}
	}

	.material-icons {
		font-size: 1.7em;
	}
}
