.marques {
	margin-top: 70px;
	display: flex;

	p {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.marques--left {
	width: 50%;

	.grid_marques {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(5, 70px);
		justify-items: center;
		margin-left: -40px;

		img {
			cursor: pointer;
		}
	}
}

.marques--right {
	width: 50%;

	.grid_derniers_produits {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
		grid-column-gap: 50px;
		// justify-items: center;
		// margin-left: -40px;
	}
}

@media screen and (max-width: 768px) {
	.marques {
		margin-top: 0px;
		flex-wrap: wrap;
		justify-content: center;

		p {
			margin-bottom: 30px;
		}
	}

	.marques--left,
	.marques--right {
		width: 90%;
		margin-top: 40px;
	}
}

@media screen and (max-width: 480px) {
	.marques {
		p {
			font-size: 17px;
		}
	}

	.marques--left {
		.grid_marques {
			margin-left: -10px;
		}
	}

	.marques--right {
		.grid_derniers_produits {
			grid-column-gap: 0px;
		}
	}
}
