.titre-section-blog {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 50px;
}

.extraits-article-blog {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.extraits-article-blog {
		flex-wrap: wrap;
		width: 100vw;
		justify-content: left;
		margin-bottom: 40px;
	}
}
