.titre-section-blog {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 50px;
}

.extraits-article-blog {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	cursor: pointer;
}
