.extrait-blog {
	padding: 0 20px;
	// width: 220px;
}

.img-extrait-blog {
	width: auto;
	height: 207px;
}

.titre-extrait-blog {
	font-weight: bold;
	font-size: 16px;
}

.texte-extrait-blog {
	font-size: 12px;
	margin-top: 20px;
}

.button-lire-la-suite {
	margin-top: 40px;
	// text-align: center;
	display: flex;
	justify-content: center;

	button {
		font-size: 12px;
		padding: 17px 22px;
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 768px) {
	.extrait-blog {
		margin-bottom: 40px;
		width: 33%;
	}
}

@media screen and (max-width: 480px) {
	.extrait-blog {
		margin-bottom: 20px;
		width: 50%;
	}

	.button-lire-la-suite {
		margin-top: 20px;

		button {
			padding: 5px 25px;
		}
	}
}
