body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;

	width: 100vw;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(197, 197, 197);
}
